* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.foto-fundo {
  position: absolute;
  background-image: url(img/fachada.png);
  background-color: #006A3C;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  z-index: -1;
}

.header-principal {
  background-color: rgba(0, 106, 60, 0.8);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 20vh;
  padding: 2vh 0;
  border: 0px solid red;
}
.header-principal img {
  width: 120px;
  height: 70px;
  border: 0px solid red;
}
.header-principal nav {
  display: none;
}
.header-principal nav ul {
  display: flex;
  list-style: none;
}
.header-principal nav ul li {
  margin-right: 10px;
}
.header-principal nav ul li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  margin: 0 12px;
}
.header-principal nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition: width 0.5s ease-in-out;
}
.header-principal nav ul li a:hover::after {
  width: 100%;
}

#first-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80vh;
  color: #fff;
  padding: 6vh 6vw;
}
#first-article h1 {
  margin-bottom: 2vh;
  font-size: 22px;
}
#first-article h2 {
  font-size: 14px;
  margin-bottom: 4vh;
}
#first-article a {
  color: #006A3C;
  text-decoration: none;
  text-align: left;
  padding: 20px 20px;
  font-size: 15px;
  background-color: #fff;
  border-radius: 10px;
  transition: scale 1s;
}
#first-article a:hover {
  scale: 1.1;
}

#second-article {
  margin-top: 0vh;
  text-align: center;
  color: #006A3C;
  padding: 6vh 6vw;
}
#second-article .second-article-first-div h3 {
  font-size: 13px;
}
#second-article .second-article-first-div h1 {
  color: white;
  font-size: 27px;
  -webkit-text-stroke: #006A3C 1px;
  margin-bottom: 3vh;
}
#second-article .second-article-first-div h2 {
  font-size: 14px;
}
#second-article .second-article-first-div img {
  border: 0px solid red;
  width: 70vw;
  height: 30vh;
  border-radius: 10px;
  margin: 2vh 0;
}
#second-article .second-article-second-div {
  display: none;
}

#third-article {
  margin-top: 0vh;
  text-align: center;
  background-color: #006A3C;
  color: white;
  padding: 6vh 6vw;
}
#third-article h3 {
  font-size: 13px;
}
#third-article h1 {
  color: white;
  font-size: 27px;
  margin-bottom: 3vh;
}
#third-article h2 {
  font-size: 14px;
}
#third-article img {
  border: 0px solid red;
  width: 80vw;
  height: 25vh;
  border-radius: 10px;
  margin: 2vh 0 0vh;
}

#fourth-article {
  text-align: center;
  color: #006A3C;
  padding: 6vh 6vw;
  overflow-x: hidden;
}
#fourth-article h3 {
  font-size: 12px;
}
#fourth-article h1 {
  color: white;
  font-size: 24px;
  -webkit-text-stroke: #006A3C 1px;
  margin-bottom: 2vh;
}
#fourth-article h2 {
  font-size: 16px;
  margin-bottom: 4vh;
}
#fourth-article span {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}
#fourth-article span div {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 200px;
  margin: 0 auto;
}
#fourth-article span div .fourth-article-tablet {
  display: none;
}
#fourth-article span div div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin: 1vh 0;
}
#fourth-article span div div a img {
  border: 2px solid #006A3C;
  width: 40px;
  height: 40px;
  padding: 2px;
  border-radius: 100%;
  margin-right: 10px;
}
#fourth-article span div div div {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0;
}
#fourth-article span span {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}
#fourth-article span span iframe {
  border: 0px solid red;
  width: 70vw;
  height: 35vh;
  margin-top: 4vh;
  border-radius: 10px;
  border: 2px solid #006A3C;
}

.footer-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #006A3C;
  border: 0px solid red;
  padding-top: 3vh;
}
.footer-principal div {
  border: 0px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
}
.footer-principal div img {
  width: 150px;
  height: 90px;
  border: 0px solid red;
}
.footer-principal div div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
}
.footer-principal div div img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  padding: 5px;
  border: 2px solid white;
  margin: 0 1vw;
}
.footer-principal div h1 {
  font-size: 16px;
  margin: 2vh 0;
  color: white;
  width: 80vw;
  text-align: center;
}
.footer-principal p {
  color: white;
  font-size: 14px;
  margin: 2vh 0;
}
.footer-principal p a {
  text-decoration: none;
  color: white;
  text-decoration: underline;
}

#whastapp {
  position: fixed;
  top: 84vh;
  right: 2vw;
  opacity: 0.8;
}
#whastapp img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: #006A3C;
  padding: 15px;
  border: 2px solid white;
}

@media (min-width: 400px) and (max-width: 600px) {
  #second-article img {
    border: 0px solid red;
    width: 80vw;
    height: 35vh;
    border-radius: 10px;
    margin: 2vh 0;
  }
  #third-article img {
    border: 0px solid red;
    width: 80vw;
    height: 35vh;
    border-radius: 10px;
    margin: 2vh 0 0vh;
  }
  #fourth-article iframe {
    border: 0px solid red;
    width: 70vw;
    height: 35vh;
    margin-top: 4vh;
    border-radius: 10px;
    border: 2px solid #006A3C;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  #second-article img {
    border: 0px solid red;
    width: 60vw;
    height: 40vh;
    border-radius: 10px;
    margin: 2vh 0;
  }
  #third-article img {
    border: 0px solid red;
    width: 70vw;
    height: 40vh;
    border-radius: 10px;
    margin: 2vh 0 0vh;
  }
  #fourth-article iframe {
    border: 0px solid red;
    width: 70vw;
    height: 40vh;
    margin-top: 4vh;
    border-radius: 10px;
    border: 2px solid #006A3C;
  }
}
@media (min-width: 768px) and (max-width: 1000px) {
  .header-principal nav {
    display: block;
  }
  #first-article {
    padding: 10vh 6vw;
  }
  #first-article h1 {
    margin-bottom: 2vh;
    font-size: 24px;
  }
  #first-article h2 {
    font-size: 16px;
    margin-bottom: 4vh;
  }
  #first-article a {
    color: #006A3C;
    text-decoration: none;
    text-align: left;
    padding: 20px 20px;
    font-size: 15px;
    background-color: #fff;
    border-radius: 10px;
    transition: scale 1s;
  }
  #first-article a:hover {
    scale: 1.1;
  }
  #second-article .second-article-first-div h3 {
    font-size: 15px;
  }
  #second-article .second-article-first-div h1 {
    color: white;
    font-size: 29px;
    -webkit-text-stroke: #006A3C 1px;
    margin-bottom: 3vh;
  }
  #second-article .second-article-first-div h2 {
    font-size: 16px;
  }
  #second-article .second-article-first-div img {
    width: 50vw;
    height: 40vh;
  }
  #third-article {
    padding: 10vh 6vw;
  }
  #third-article h1 {
    color: white;
    font-size: 29px;
    margin-bottom: 3vh;
  }
  #third-article h2 {
    font-size: 16px;
  }
  #third-article img {
    border: 0px solid red;
    width: 50vw;
    height: 40vh;
    border-radius: 10px;
    margin: 5vh 0 0vh;
  }
  #fourth-article {
    text-align: left;
    color: #006A3C;
    padding: 10vh 6vw;
    overflow-x: hidden;
  }
  #fourth-article h3 {
    font-size: 14px;
  }
  #fourth-article h1 {
    color: white;
    font-size: 26px;
    -webkit-text-stroke: #006A3C 1px;
    margin-bottom: 2vh;
    width: 40vw;
  }
  #fourth-article h2 {
    font-size: 18px;
    margin-bottom: 4vh;
  }
  #fourth-article .fourth-article-celular {
    display: none;
  }
  #fourth-article span {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-around;
  }
  #fourth-article span div {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 200px;
    margin: 0 10vw 0 0;
  }
  #fourth-article span div .fourth-article-tablet {
    display: block;
  }
  #fourth-article span div div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin: 1vh 0;
  }
  #fourth-article span div div a img {
    border: 2px solid #006A3C;
    width: 40px;
    height: 40px;
    padding: 2px;
    border-radius: 100%;
  }
  #fourth-article span div div div {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0;
  }
  #fourth-article span span {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
  }
  #fourth-article span span iframe {
    border: 0px solid red;
    width: 40vw;
    height: 40vh;
    margin-top: 4vh;
    border-radius: 10px;
    border: 2px solid #006A3C;
  }
  #whastapp {
    opacity: 1;
  }
}
@media (min-width: 1000px) and (max-width: 1400px) {
  .header-principal img {
    width: 150px;
    height: 90px;
  }
  .header-principal nav {
    display: block;
  }
  .header-principal nav ul li a {
    font-size: 22px;
  }
  #first-article {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    padding: 10vh 6vw;
  }
  #first-article h1 {
    margin-bottom: 2vh;
    font-size: 30px;
    width: 70vw;
  }
  #first-article h2 {
    font-size: 20px;
    margin-bottom: 4vh;
    width: 70vw;
  }
  #first-article a {
    color: #006A3C;
    text-decoration: none;
    text-align: left;
    padding: 20px 20px;
    font-size: 18px;
    background-color: #fff;
    border-radius: 10px;
    transition: scale 1s;
  }
  #first-article a:hover {
    scale: 1.1;
  }
  #second-article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: left;
    padding: 10vh 6vw;
  }
  #second-article .second-article-first-div h3 {
    font-size: 15px;
  }
  #second-article .second-article-first-div h1 {
    color: white;
    font-size: 29px;
    -webkit-text-stroke: #006A3C 1px;
    margin-bottom: 3vh;
  }
  #second-article .second-article-first-div h2 {
    font-size: 16px;
  }
  #second-article .second-article-first-div img {
    display: none;
  }
  #second-article .second-article-second-div {
    display: block;
  }
  #second-article .second-article-second-div img {
    width: 40vw;
    height: 50vh;
    margin-left: 5vw;
    border-radius: 10px;
  }
  #third-article {
    padding: 10vh 6vw;
  }
  #third-article h1 {
    color: white;
    font-size: 29px;
    margin-bottom: 3vh;
  }
  #third-article h2 {
    font-size: 16px;
  }
  #third-article img {
    border: 0px solid red;
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
    margin: 5vh 0 0vh;
  }
  #fourth-article {
    text-align: left;
    color: #006A3C;
    padding: 10vh 6vw;
    overflow-x: hidden;
  }
  #fourth-article h3 {
    font-size: 14px;
  }
  #fourth-article h1 {
    color: white;
    font-size: 26px;
    -webkit-text-stroke: #006A3C 1px;
    margin-bottom: 2vh;
    width: 40vw;
  }
  #fourth-article h2 {
    font-size: 18px;
    margin-bottom: 4vh;
  }
  #fourth-article .fourth-article-celular {
    display: none;
  }
  #fourth-article span {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-around;
  }
  #fourth-article span div {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 200px;
    margin: 0 10vw 0 0;
  }
  #fourth-article span div .fourth-article-tablet {
    display: block;
  }
  #fourth-article span div div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin: 1vh 0;
  }
  #fourth-article span div div a img {
    border: 2px solid #006A3C;
    width: 40px;
    height: 40px;
    padding: 2px;
    border-radius: 100%;
  }
  #fourth-article span div div div {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0;
  }
  #fourth-article span span {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
  }
  #fourth-article span span iframe {
    border: 0px solid red;
    width: 40vw;
    height: 40vh;
    margin-top: 4vh;
    border-radius: 10px;
    border: 2px solid #006A3C;
  }
  #whastapp {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */

.carousel {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-image {
  min-width: 100%;
  box-sizing: border-box;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.indicator.active {
  background-color: rgba(255, 255, 255, 1);
}