header{
    display: flex;
    justify-content: center;
    color: rgb(0, 80, 0);
    text-shadow: white;
    font-size: 70px;
}

#subtitulo{
    display: flex;
    justify-content: center;
    color: rgb(0, 80, 0);
    text-shadow: white;
    font-size: 15px;
}