.footer-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #006A3C;
    border: 0px solid red;
    padding-top: 3vh;
  }
  .footer-principal div {
    border: 0px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
  }
  .footer-principal div img {
    width: 150px;
    height: 90px;
    border: 0px solid red;
  }
  .footer-principal div div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
  }
  .footer-principal div div img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    padding: 5px;
    border: 2px solid white;
    margin: 0 5px;
  }
  .footer-principal div h1 {
    font-size: 16px;
    margin: 2vh 0;
    color: white;
    width: 80vw;
    text-align: center;
  }
  .footer-principal p {
    color: white;
    font-size: 14px;
    text-align: center;
    margin: 2vh 0;
  }