.header-principal {
    background-color: rgba(0, 106, 60, 0.9);
    color: white;
    display: flex;
    align-items: center; 
    justify-content: space-around; 
    height: 20vh;
    padding: 2vh 0;
    border: 0px solid red;
  }
  .header-principal img {
    width: 150px;
    height: 90px;
    border: 0px solid red;
  }
  .header-principal nav {
    display: none;
  }
  .header-principal nav ul {
    display: flex;
    list-style: none;
  }
  .header-principal nav ul li {
    margin-right: 10px;
  }
  .header-principal nav ul li a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    margin: 0 12px;
  }
  .header-principal nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 3px;
    background-color: #ffffff;
    transition: width 0.5s ease-in-out;
  }
  .header-principal nav ul li a:hover::after {
    width: 100%;
  }
  
  .header-principal h1 {
    font-size: 44px;
    display: flex;
    margin-right: 450px;
  }