@media (min-width: 400px) and (max-width: 500px) {
    #second-article img {
      border: 0px solid red;
      width: 80vw;
      height: 35vh;
      border-radius: 10px;
      margin: 2vh 0;
    }
    #third-article img {
      border: 2px solid red;
      width: 30%;
      height: 30%;
      border-radius: 10px;
      margin: 2vh 0 0vh;
    }
    #fourth-article iframe {
      border: 0px solid red;
      width: 80vw;
      height: 35vh;
      margin-top: 4vh;
      border-radius: 10px;
      border: 2px solid #006A3C;
    }
  
    .hamburguer {
      display: block;
      position: fixed;
      top: 20px;
      right: 20px;
      cursor: pointer;
      z-index: 1000;
    }
    
    .bar {
      display: block;
      width: 35px;
      height: 5px;
      background-color: white;
      margin: 6px 0;
      transition: 0.4s;
    }
    
    .menu-opcoes {
      display: block;
      background-color: #006A3C;
      padding: 20px;
      position: fixed;
      top: 60px;
      right: 20px;
      height: 400px;
      width: 250px;
      border-radius: 10px;
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
    }
    
    .menu-opcoes.show {
      display: block;
    }
    
    .menu-opcoes ul {
      display: block;
      flex-direction: column;
      text-align: center;
      list-style: none;
      padding: 0;
    }
    
    .menu-opcoes li {
      display: block;
      margin: 15px 0;
    }
    
    .menu-opcoes a:hover {
      color: #FF6347;
    }
  }
  @media (min-width: 500px) and (max-width: 768px) {
    #second-article .second-article-first-div img {
      border: 0px solid red;
      width: 55vw;
      height: 40vh;
      border-radius: 10px;
      margin: 2vh 0;
    }
    #third-article img {
      border: 4px solid #006A3C; 
      width: 90%; 
      border-radius: 10px; 
    }
    #fourth-article span span iframe {
      border: 0px solid red;
      width: 60vw;
      height: 45vh;
      margin-top: 4vh;
      border-radius: 10px;
      border: 2px solid #006A3C;
    }
  
    .hamburguer {
      display: block;
      position: fixed;
      top: 20px;
      right: 20px;
      cursor: pointer;
      z-index: 1000;
  }
  
  .bar {
      display: block;
      width: 35px;
      height: 5px;
      background-color: white;
      margin: 6px 0;
      transition: 0.4s;
  }
  
  .menu-opcoes {
      display: none; /* Começa oculto */
      background-color: #006A3C;
      padding: 20px;
      position: fixed;
      top: 60px;
      right: 20px;
      height: 400px;
      width: 250px;
      border-radius: 10px;
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
  }
  
  /* Quando o menu tem a classe "show", ele aparece */
  .menu-opcoes.show {
      display: block;
  }
  
  .menu-opcoes ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      list-style: none;
      padding: 0;
  }
  
  .menu-opcoes li {
      display: block;
      margin: 15px 0;
  }
  
  .menu-opcoes a:hover {
      color: #FF6347;
  }
  
  }
  @media (min-width: 768px) and (max-width: 850px) {
    .header-principal nav {
      display: none;
    }
    #first-article {
      padding: 10vh 6vw;
    }
    #first-article h1 {
      margin-bottom: 2vh;
      font-size: 24px;
    }
    #first-article h2 {
      font-size: 16px;
      margin-bottom: 4vh;
    }
    #first-article a {
      color: #006A3C;
      text-decoration: none;
      text-align: left;
      padding: 20px 20px;
      font-size: 15px;
      background-color: #fff;
      border-radius: 10px;
      transition: scale 1s;
    }
    #first-article a:hover {
      scale: 1.1;
    }
    #second-article .second-article-first-div h3 {
      font-size: 15px;
    }
    #second-article .second-article-first-div h1 {
      color: white;
      font-size: 29px;
      -webkit-text-stroke: #006A3C 1px;
      margin-bottom: 3vh;
    }
    #second-article .second-article-first-div h2 {
      font-size: 16px;
    }
    #second-article .second-article-first-div img {
      width: 50vw;
      height: 40vh;
    }
    #third-article {
      padding: 10vh 6vw;
    }
    #third-article h1 {
      color: white;
      font-size: 29px;
      margin-bottom: 3vh;
    }
    #third-article h2 {
      font-size: 16px;
    }
    #third-article img {
      border: 0px solid red;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      margin: 5vh 0 0vh;
    }
    #fourth-article {
      text-align: left;
      color: #006A3C;
      padding: 10vh 2vw;
      overflow-x: hidden;
    }
    #fourth-article h3 {
      font-size: 14px;
    }
    #fourth-article h1 {
      color: white;
      font-size: 26px;
      -webkit-text-stroke: #006A3C 1px;
      margin-bottom: 2vh;
      width: 40vw;
    }
    #fourth-article h2 {
      font-size: 18px;
      margin-bottom: 4vh;
    }
    #fourth-article .fourth-article-celular {
      display: none;
    }
    #fourth-article span {
      display: flex;
      flex-direction: row;
      align-self: center;
      justify-content: space-around;
    }
    #fourth-article span div {
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: center;
      width: 200px;
      margin: 0 10vw 0 0;
    }
    #fourth-article span div .fourth-article-tablet {
      display: block;
    }
    #fourth-article span div div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: left;
      margin: 1vh 0;
    }
    #fourth-article span div div a img {
      border: 2px solid #006A3C;
      width: 40px;
      height: 40px;
      padding: 2px;
      border-radius: 100%;
    }
    #fourth-article span div div div {
      display: flex;
      flex-direction: column;
      align-items: start;
      margin: 0;
    }
    #fourth-article span span {
      display: flex;
      flex-direction: column;
      align-self: center;
      justify-content: center;
    }
    #fourth-article span span iframe {
      border: 0px solid red;
      width: 40vw;
      height: 40vh;
      margin-top: 4vh;
      border-radius: 10px;
      border: 2px solid #006A3C;
    }
    #whastapp {
      opacity: 1;
    }
  
    .hamburguer {
      display: block;
      position: fixed;
      top: 20px;
      right: 20px;
      cursor: pointer;
      z-index: 1000;
    }
    
    .bar {
      display: block;
      width: 35px;
      height: 5px;
      background-color: white;
      margin: 6px 0;
      transition: 0.4s;
    }
    
    .menu-opcoes {
      display: block;
      background-color: #006A3C;
      padding: 20px;
      position: fixed;
      top: 60px;
      right: 20px;
      height: 400px;
      width: 250px;
      border-radius: 10px;
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
    }
    
    .menu-opcoes.show {
      display: block;
    }
    
    .menu-opcoes ul {
      display: block;
      flex-direction: column;
      text-align: center;
      list-style: none;
      padding: 0;
    }
    
    .menu-opcoes li {
      display: block;
      margin: 15px 0;
    }
    
    .menu-opcoes a:hover {
      color: #FF6347;
    }
  }
  @media (min-width: 850px) and (max-width: 1000px) {
    .header-principal nav {
      display: none;
    }
    #first-article {
      padding: 10vh 6vw;
    }
    #first-article h1 {
      margin-bottom: 2vh;
      font-size: 24px;
    }
    #first-article h2 {
      font-size: 16px;
      margin-bottom: 4vh;
    }
    #first-article a {
      color: #006A3C;
      text-decoration: none;
      text-align: left;
      padding: 20px 20px;
      font-size: 15px;
      background-color: #fff;
      border-radius: 10px;
      transition: scale 1s;
    }
    #first-article a:hover {
      scale: 1.1;
    }
    #second-article .second-article-first-div h3 {
      font-size: 15px;
    }
    #second-article .second-article-first-div h1 {
      color: white;
      font-size: 29px;
      -webkit-text-stroke: #006A3C 1px;
      margin-bottom: 3vh;
    }
    #second-article .second-article-first-div h2 {
      font-size: 16px;
    }
    #second-article .second-article-first-div img {
      width: 50vw;
      height: 45vh;
    }
    #third-article {
      padding: 10vh 6vw;
    }
    #third-article h1 {
      color: white;
      font-size: 29px;
      margin-bottom: 3vh;
    }
    #third-article h2 {
      font-size: 16px;
    }
    #third-article img {
      border: 0px solid red;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      margin: 5vh 0 0vh;
    }
    #fourth-article {
      text-align: left;
      color: #006A3C;
      padding: 10vh 6vw;
      overflow-x: hidden;
    }
    #fourth-article h3 {
      font-size: 14px;
    }
    #fourth-article h1 {
      color: #006A3C;
      font-size: 26px;
      margin-bottom: 2vh;
      width: 40vw;
    }
    #fourth-article h2 {
      font-size: 18px;
      margin-bottom: 4vh;
    }
    #fourth-article .fourth-article-celular {
      display: none;
    }
    #fourth-article span {
      display: flex;
      flex-direction: row;
      align-self: center;
      justify-content: space-around;
    }
    #fourth-article span div {
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: center;
      width: 200px;
      margin: 0 10vw 0 0;
    }
    #fourth-article span div .fourth-article-tablet {
      display: block;
    }
    #fourth-article span div div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: left;
      margin: 1vh 0;
    }
    #fourth-article span div div a img {
      border: 2px solid #006A3C;
      width: 40px;
      height: 40px;
      padding: 2px;
      border-radius: 100%;
    }
    #fourth-article span div div div {
      display: flex;
      flex-direction: column;
      align-items: start;
      margin: 0;
    }
    #fourth-article span span {
      display: flex;
      flex-direction: column;
      align-self: center;
      justify-content: center;
    }
    #fourth-article span span iframe {
      border: 0px solid red;
      width: 40vw;
      height: 40vh;
      margin-top: 4vh;
      border-radius: 10px;
      border: 2px solid #006A3C;
    }
    #whastapp {
      opacity: 1;
    }
  
    .hamburguer {
      display: block;
      position: fixed;
      top: 20px;
      right: 20px;
      cursor: pointer;
      z-index: 1000;
    }
    
    .bar {
      display: block;
      width: 35px;
      height: 5px;
      background-color: white;
      margin: 6px 0;
      transition: 0.4s;
    }
    
    .menu-opcoes {
      display: block;
      background-color: #006A3C;
      padding: 20px;
      position: fixed;
      top: 60px;
      right: 20px;
      height: 400px;
      width: 250px;
      border-radius: 10px;
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
    }
    
    .menu-opcoes.show {
      display: block;
    }
    
    .menu-opcoes ul {
      display: block;
      flex-direction: column;
      text-align: center;
      list-style: none;
      padding: 0;
    }
    
    .menu-opcoes li {
      display: block;
      margin: 15px 0;
    }
    
    .menu-opcoes a:hover {
      color: #FF6347;
    }
  }
  @media (min-width: 1000px) and (max-width: 1400px) {
    .header-principal img {
      width: 150px;
      height: 90px;
    }
    .header-principal nav {
      display: none;
    }
    .header-principal nav ul li a {
      font-size: 22px;
    }
    #first-article {
      display: flex;
      flex-direction: column;
      align-items: start;
      text-align: left;
      padding: 10vh 6vw;
    }
    #first-article h1 {
      margin-bottom: 2vh;
      font-size: 30px;
      width: 70vw;
    }
    #first-article h2 {
      font-size: 20px;
      margin-bottom: 4vh;
      width: 70vw;
    }
    #first-article a {
      color: #006A3C;
      text-decoration: none;
      text-align: left;
      padding: 20px 20px;
      font-size: 18px;
      background-color: #fff;
      border-radius: 10px;
      transition: scale 1s;
    }
    #first-article a:hover {
      scale: 1.1;
    }
    #second-article {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      text-align: left;
      padding: 15vh 6vw;
    }
    #second-article .second-article-first-div h3 {
      font-size: 16px;
    }
    #second-article .second-article-first-div h1 {
      color: white;
      font-size: 40px;
      -webkit-text-stroke: #006A3C 1px;
      margin-bottom: 3vh;
    }
    #second-article .second-article-first-div h2 {
      font-size: 17px;
    }
    #second-article .second-article-first-div img {
      display: none;
    }
    #second-article .second-article-second-div {
      display: block;
    }
    #second-article .second-article-second-div img {
      width: 40vw;
      height: 50vh;
      margin-left: 5vw;
      border-radius: 10px;
    }
    #third-article {
      padding: 10vh 10vw;
    }
    #third-article h1 {
      color: white;
      font-size: 30px;
      margin-bottom: 3vh;
    }
    #third-article h2 {
      font-size: 18px;
    }
    #third-article img {
      border: 0px solid red;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      margin: 5vh 0 0vh;
    }
    #fourth-article {
      text-align: left;
      color: #006A3C;
      padding: 15vh 2vw;
      overflow-x: hidden;
    }
    #fourth-article h3 {
      font-size: 16px;
    }
    #fourth-article h1 {
      color: #006A3C;
      font-size: 34px;
      margin-bottom: 2vh;
      width: 40vw;
    }
    #fourth-article h2 {
      font-size: 20px;
      margin-bottom: 4vh;
    }
    #fourth-article .fourth-article-celular {
      display: none;
    }
    #fourth-article span {
      display: flex;
      flex-direction: row;
      align-self: center;
      justify-content: space-around;
    }
    #fourth-article span div {
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: center;
      width: 200px;
      margin: 0 10vw 0 0;
    }
    #fourth-article span div .fourth-article-tablet {
      display: block;
    }
    #fourth-article span div div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: left;
      margin: 1vh 0;
    }
    #fourth-article span div div a img {
      border: 3px solid #006A3C;
      width: 50px;
      height: 50px;
      padding: 2px;
      border-radius: 100%;
    }
    #fourth-article span div div div {
      display: flex;
      flex-direction: column;
      align-items: start;
      margin: 0;
    }
    #fourth-article span div div div h4 {
      font-size: 18px;
    }
    #fourth-article span span {
      display: flex;
      flex-direction: column;
      align-self: center;
      justify-content: center;
    }
    #fourth-article span span iframe {
      border: 0px solid red;
      width: 40vw;
      height: 50vh;
      margin-top: 4vh;
      border-radius: 10px;
      border: 2px solid #006A3C;
    }
    #whastapp {
      opacity: 1;
    }
  
    .hamburguer {
      display: block;
      position: fixed;
      top: 20px;
      right: 20px;
      cursor: pointer;
      z-index: 1000;
    }
    
    .bar {
      display: block;
      width: 35px;
      height: 5px;
      background-color: white;
      margin: 6px 0;
      transition: 0.4s;
    }
    
    .menu-opcoes {
      display: block;
      background-color: #006A3C;
      padding: 20px;
      position: fixed;
      top: 60px;
      right: 20px;
      height: 400px;
      width: 250px;
      border-radius: 10px;
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
    }
    
    .menu-opcoes.show {
      display: block;
    }
    
    .menu-opcoes ul {
      display: block;
      flex-direction: column;
      text-align: center;
      list-style: none;
      padding: 0;
    }
    
    .menu-opcoes li {
      display: block;
      margin: 15px 0;
    }
    
    .menu-opcoes a:hover {
      color: #FF6347;
    }
  }
  @media (min-width: 1400px) {
    .header-principal img {
      width: 230px;
      height: 130px;
    }
    .header-principal nav {
      display: block;
    }
    .header-principal nav ul li a {
      font-size: 30px;
    }
    #first-article {
      display: flex;
      flex-direction: column;
      align-items: start;
      text-align: left;
      padding: 10vh 6vw;
    }
    #first-article h1 {
      margin-bottom: 2vh;
      font-size: 46px;
      width: 70vw;
    }
    #first-article h2 {
      font-size: 26px;
      margin-bottom: 4vh;
      width: 70vw;
    }
    #first-article a {
      color: #006A3C;
      text-decoration: none;
      text-align: left;
      padding: 30px 30px;
      font-size: 26px;
      background-color: #fff;
      border-radius: 10px;
      transition: scale 1s;
    }
    #first-article a:hover {
      scale: 1.1;
    }
    #second-article {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      text-align: left;
      padding: 15vh 2vw;
    }
    #second-article .second-article-first-div h3 {
      font-size: 26px;
    }
    #second-article .second-article-first-div h1 {
      color: white;
      font-size: 60px;
      -webkit-text-stroke: #006A3C 3px;
      margin-bottom: 3vh;
    }
    #second-article .second-article-first-div h2 {
      font-size: 24px;
    }
    #second-article .second-article-first-div img {
      display: none;
    }
    #second-article .second-article-second-div {
      display: block;
    }
    #second-article .second-article-second-div img {
      width: 45vw;
      height: 40vh;
      margin-left: 5vw;
      border-radius: 10px;
    }
    #third-article {
      padding: 10vh 6vw;
    }
    #third-article h1 {
      color: white;
      font-size: 60px;
      margin-bottom: 3vh;
    }
    #third-article h2 {
      font-size: 24px;
    }
    #third-article img {
      border: 0px solid red;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      margin: 5vh 0 0vh;
    }
    #fourth-article {
      text-align: left;
      color: #006A3C;
      padding: 15vh 2vw;
      overflow-x: hidden;
    }
    #fourth-article h3 {
      font-size: 26px;
    }
    #fourth-article h1 {
      color: #006A3C;
      font-size: 60px;
      margin-bottom: 2vh;
      width: 40vw;
    }
    #fourth-article h2 {
      font-size: 26px;
      margin-bottom: 4vh;
    }
    #fourth-article .fourth-article-celular {
      display: none;
    }
    #fourth-article span {
      display: flex;
      flex-direction: row;
      align-self: center;
      justify-content: space-around;
    }
    #fourth-article span div {
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: center;
      width: 20vw;
      margin: 0 10vw 0 0;
    }
    #fourth-article span div .fourth-article-tablet {
      display: block;
    }
    #fourth-article span div div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: left;
      margin: 1vh 0;
    }
    #fourth-article span div div a img {
      border: 3px solid #006A3C;
      width: 70px;
      height: 70px;
      padding: 2px;
      border-radius: 100%;
    }
    #fourth-article span div div div {
      display: flex;
      flex-direction: column;
      align-items: start;
      margin: 0;
    }
    #fourth-article span div div div h4 {
      font-size: 26px;
    }
    #fourth-article span span {
      display: flex;
      flex-direction: column;
      align-self: center;
      justify-content: center;
    }
    #fourth-article span span iframe {
      border: 0px solid red;
      width: 40vw;
      height: 40vh;
      margin-top: 4vh;
      border-radius: 10px;
      border: 2px solid #006A3C;
    }
    .footer-principal {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #006A3C;
      border: 0px solid red;
      padding-top: 3vh;
    }
    .footer-principal div {
      border: 0px solid red;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 40vw;
    }
    .footer-principal div img {
      width: 230px;
      height: 130px;
      border: 0px solid red;
    }
    .footer-principal div div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 2vh;
    }
    .footer-principal div div img {
      width: 60px;
      height: 60px;
      border-radius: 100%;
      padding: 5px;
      border: 2px solid white;
      margin: 0 5px;
    }
    .footer-principal div h1 {
      font-size: 26px;
      margin: 2vh 0;
      color: white;
      width: 80vw;
      text-align: center;
    }
    .footer-principal p {
      color: white;
      font-size: 18px;
      text-align: center;
      margin: 2vh 0;
    }
    #whastapp {
      position: fixed;
      top: 84vh;
      right: 2vw;
      opacity: 1;
    }
    #whastapp img {
      width: 120px;
      height: 120px;
      border-radius: 100%;
      background-color: #006A3C;
      padding: 30px;
      border: 2px solid white;
    }
  
    .hamburguer {
      display: none !important;
    }
  
    .bar {
        display: none !important;
    }
  
    .menu-opcoes {
      display: none !important;
    }
  
    .menu-opcoes ul {
      display: none !important;
    }
  
    .menu-opcoes li {
      display: none !important;
    }
  }/*# sourceMappingURL=style.css.map */
  